			/* PAINEL LATERAL*/
.menu_preto {
    -fx-background-color: 		#000000b5;  
}
.panel_branco {
	-fx-background-color: 		rgb(255, 255, 255);
}
.botao_fechar {
	-fx-background-color: 		#ffffffa0;
}
.botao_fechar_panel {
	-fx-background-color: 		#f9f9f9;
}
.imagem_fundo {
	-fx-background-color: 		#15ABDA;
}
.separador-menu {
	-fx-background-color: 		#000000b5;
    
}
/***********************************************************************/
					/*BOTÃO DE ATIVAR E DESATIVAR*/
/*Panel de fundo do botão*/
.panel-fundo-botao{
	-fx-background-color: 		#000000;
	-fx-background-radius: 		10;
}
/*Botão de ATIVAR funções*/
.botao-ativo{
	-fx-background-color: 		#9aea6b;
	-fx-background-radius: 		10;
}
/*Botão de DESATIVAR funções*/
.botao-desativo{
	-fx-background-color: 		#f16b6b;
	-fx-background-radius: 		10;
}
/***********************************************************************/
					/*BOTÃO DE CONTROLE DO ROBÔ*/
/*Botão de controle*/
.botao-controle-robo {
	-fx-background-color: 		#089eee;
}
.botao-parar {
	-fx-background-color: 		#ff3f3f;
}
/***********************************************************************/
					/*BOTÃO DE CONTROLE DA CÂMERA*/
.botao-controle-camera {
	-fx-background-color: 		#089eee;
}
.botao-tirar-foto {
	-fx-background-color: 		#089eee;
}
/***********************************************************************/
				/*GALERIA*/	
.separador-azul {
	-fx-background-color: 		#089eee;
}

.botao-play{
	-fx-background-color: 		#44a3e3bd;
}
.botao-excluir{
	-fx-background-color: 		#e54343be;
}
.botao-informativo{
	-fx-background-color: 		#54f8acbd;
}
/***********************************************************************/
				/*BOTÃO AJUSTES*/
.botao-ajuste {
	-fx-border-color: 			#089eee;
}
.separador-preto {
	-fx-background-color: 		black;
}
/***********************************************************************/
